{% extends 'admin/base.html.twig' %}

{% block title %}Administration des articles{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Gestion des articles</h1>
        <a href="{{ path('admin_articles_create')}}" class="btn btn-primary rounded mt-3 mb-5">Ajouter un article</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Auteur</th>
                    <th>Création</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for article in pagination.data %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.author }}</td>
                    <td>{{ article.createdAt|date('d/m/Y H:i') }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.content }}</td>
                    
                    <td>
                        <a href="{{ path('admin_articles_edit', {'slug': article.slug}) }}" class="btn btn-secondary rounded"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_articles_delete', {'id': article.id}) }}" class="btn btn-danger rounded"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'admin/partials/pagination.html.twig' with {'route': 'admin_articles_index'} %}
    </div>
    
{% endblock %}

